<ul class="menu menu-vertical" id="repo-sidebar-mini">
    <li><a href="{{.RepoLink}}" class="btn-right-radius"><i class="octicon octicon-code"></i></a></li>
    <li class="border-bottom"></li>
    <li><a href="{{.RepoLink}}/issues" class="btn-right-radius"><i class="octicon octicon-issue-opened"></i>
        <span class="num label label-blue">{{.NumIssues}}</span>
    </a></li>
    <li class="current"><a href="{{.RepoLink}}/pulls" class="btn-right-radius"><i class="octicon octicon-git-pull-request"></i>
        <span class="num label label-black">{{.NumPulls}}</span>
    </a></li>
    <li class="border-bottom"></li>
    <li><a href="{{.RepoLink}}/settings" class="btn-right-radius"><i class="octicon octicon-tools"></i></a></li>
</ul>