<div id="repo-sidebar" class="right grid-1-6">
    <ul class="menu menu-vertical" id="repo-sidebar-nav">
		{{with .Repository}}
		<li id="repo-header-fork" class="btns">
            <a class="sidebar-btns" id="repo-header-fork-btn" {{if or (not $.IsRepositoryAdmin) $.Owner.IsOrganization}}href="{{AppSubUrl}}/repo/fork?fork_id={{.Id}}"{{end}}>
                <button class="btn btn-gray text-bold btn-radius">
                    <i class="octicon octicon-repo-forked"></i>{{$.i18n.Tr "repo.fork"}}
                    <span class="num">{{.NumForks}}</span>
                </button>
            </a>
        </li>
        <li id="repo-header-star" class="btns">
            <a class="sidebar-btns" id="repo-header-star-btn" href="{{$.RepoLink}}/action/{{if $.IsStaringRepo}}un{{end}}star">
                <button class="btn btn-gray text-bold btn-radius">
                    <i class="octicon octicon-star"></i>{{if $.IsStaringRepo}}{{$.i18n.Tr "repo.unstar"}}{{else}}{{$.i18n.Tr "repo.star"}}{{end}}
                    <span class="num">{{.NumStars}}</span>
                </button>
            </a>
        </li>
        <li id="repo-header-watch" class="btns">
            <a class="sidebar-btns" id="repo-header-watch-btn" href="{{$.RepoLink}}/action/{{if $.IsWatchingRepo}}un{{end}}watch">
                <button class="btn btn-gray text-bold btn-radius">
                    <i class="octicon octicon-eye-watch"></i>{{if $.IsWatchingRepo}}{{$.i18n.Tr "repo.unwatch"}}{{else}}{{$.i18n.Tr "repo.watch"}}{{end}}<span class="num">{{.NumWatches}}</span>
                </button>
            </a>
        </li>
		<li id="repo-header-download-zip" class="btns drop">
			<a class="sidebar-btns" id="repo-header-download-btn" href="#">
				<button class="btn btn-gray text-bold btn-radius">
					<i class="octicon octicon-cloud-download"></i> Download
				</button>
			</a>
			<div id="repo-header-download-drop" class="drop-down">
				<div id="repo-download" class="clear">
					<div class="text-center" id="repo-clone-zip">
						<a class="btn btn-green btn-radius" href="{{$.RepoLink}}/archive/{{EscapePound $.BranchName}}.zip"><i class="octicon octicon-file-zip"></i>ZIP</a>
						<a class="btn btn-green btn-radius" href="{{$.RepoLink}}/archive/{{EscapePound $.BranchName}}.tar.gz"><i class="octicon octicon-file-zip"></i>TAR.GZ</a>
					</div>
				</div>
			</div>
		</li>
		{{end}}
        <li>
            <a class="radius" href="{{.RepoLink}}/issues"><i class="octicon octicon-issue-opened"></i>{{.i18n.Tr "repo.issues"}}<span class="num right label label-blue label-radius">{{.Repository.NumOpenIssues}}</span></a>
        </li>
        <li>
            <a class="radius" href="{{.RepoLink}}/pulls"><i class="octicon octicon-pull-request"></i>{{.i18n.Tr "repo.pulls"}}<span class="num right label label-blue label-radius">{{.Repository.NumOpenPulls}}</span></a>
        </li>
        <li class="border-bottom"></li>
        <li class="head">{{if .IsViewBranch}}{{.BranchName}}{{else}}{{ShortSha .BranchName}}{{end}}</li>
        <li>
            <a class="radius" href="{{.RepoLink}}/commits/{{EscapePound .BranchName}}"><i class="octicon octicon-history"></i>{{.i18n.Tr "repo.commits"}} <span class="num right label label-gray label-radius">{{.CommitsCount}}</span></a>
        </li>
        <!-- <li>
            <a class="radius" href="{{.RepoLink}}/branches"><i class="octicon octicon-git-branch"></i>Branches<span class="num right label label-gray label-radius">{{.BrancheCount}}</span></a>
        </li> -->
        <li>
            <a class="radius" href="{{.RepoLink}}/releases"><i class="octicon octicon-tag"></i>{{.i18n.Tr "repo.releases"}} <span class="num right label label-gray label-radius">{{.Repository.NumTags}}</span></a>
        </li>
        <!-- <li>
            <a class="radius" href="#"><i class="octicon octicon-organization"></i>contributors <span class="num right label label-gray label-radius">43</span></a>
        </li> -->
        {{if .IsRepositoryAdmin}}
        <li class="border-bottom"></li>
        <li>
            <a class="radius" href="{{.RepoLink}}/settings"><i class="octicon octicon-tools"></i>{{.i18n.Tr "repo.settings"}}</a>
        </li>
        {{end}}
    </ul>
</div>