{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
<div id="repo-wrapper">
    {{template "repo/header" .}}
    <div class="issue-main container repo-wide-wrapper">
        <ul id="issue-list-nav" class="menu menu-line">
            <li><a href="{{.RepoLink}}/issues">Issue</a></li>
            <li><a href="{{.RepoLink}}/pulls">Pull Request</a></li>
            <li><a href="{{.RepoLink}}/issues/labels">Labels</a></li>
            <li class="current"><a href="{{.RepoLink}}/milestones">Milestones</a></li>
            <li class="right" id="milestone-new"><a href="{{.RepoLink}}/issues/milestones/new"><button id="issue-new-btn" class="btn btn-green text-bold">New Milestone</button></a></li>
        </ul>
        <div id="issue-list-container">
            <div id="issue-list-menu">
                <div class="left">
                    <span class="mark open{{if eq .State "open"}} hover{{end}}"><a href="{{.RepoLink}}/issues/milestones">
                        <i class="octicon octicon-milestone"></i> {{.Repository.NumOpenMilestones}} Open
                    </a></span>
                    <span class="mark close{{if eq .State "closed"}} hover{{end}}"><a href="{{.RepoLink}}/issues/milestones?state=closed">
                        <i class="octicon octicon-issue-closed"></i> {{.Repository.NumClosedMilestones}} Close
                    </a></span>
                </div>
                <div class="clear"></div>
            </div>
            <ul id="milestone-list" class="list-no-style">
            	{{range .Milestones}}
                <li class="item" id="milestone-id">
                    <!--<a class="comment" href="#">
                        <i class="octicon octicon-comment"></i> 7
                    </a>-->
                    <p class="title text-bold">
                        <i class="octicon octicon-milestone"></i>
                        <a href="{{$.RepoLink}}/issues?milestone={{.Index}}{{if .IsClosed}}&state=closed{{end}}" class="title-text">{{.Name}}</a>
                    </p>
                    <p class="desc">
                        <i class="octicon octicon-clock"></i> Updated 3 days ago &nbsp;&nbsp;
                        {{if .DeadlineString}}
                        <i class="octicon octicon-calendar"></i> Due to {{DateFmtShort .Deadline}}
                        {{end}}
                    </p>
                    <div class="content">{{.RenderedContent | Str2html}}</div>
                    <div class="action">
                        <p class="status-bar">
                            <span class="closed">closed {{.NumClosedIssues}}</span>
                            <span class="inline-block bar"><span class="inline-block opening" style="width:{{.Completeness}}%"></span></span>
                            <span class="open">{{.NumOpenIssues}} open</span>
                        </p>
                        <div class="action-bar text-right">
                            <a href="{{$.RepoLink}}/issues/milestones/{{.Index}}/edit">Edit</a>
                            {{if .IsClosed}}
                            <a href="{{$.RepoLink}}/issues/milestones/{{.Index}}/open">Open</a>
                            {{else}}
                            <a href="{{$.RepoLink}}/issues/milestones/{{.Index}}/close">Close</a>
                            {{end}}
                            <a href="{{$.RepoLink}}/issues/milestones/{{.Index}}/delete" class="text-red">Delete</a>
                        </div>
                    </div>
                </li>
                {{end}}
            </ul>
        </div>
    </div>
</div>
{{template "ng/base/footer" .}}