{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
<div id="repo-wrapper">
    {{template "repo/header" .}}
    <div class="issue-main container repo-wide-wrapper">
        <ul id="issue-list-nav" class="menu menu-line">
            <li class="current"><a href="{{.RepoLink}}/issues">Issue</a></li>
            <li><a href="{{.RepoLink}}/pulls">Pull Request</a></li>
            <li><a href="{{.RepoLink}}/issues/labels">Labels</a></li>
            <li><a href="{{.RepoLink}}/issues/milestones">Milestones</a></li>
            <li class="right" id="issue-new"><a href="{{.RepoLink}}/issues/new"><button id="issue-new-btn" class="btn btn-green text-bold">New Issue</button></a></li>
        </ul>
        <div id="issue-list-container">
            <div id="issue-list-menu">
                <div class="left">
                    <span class="mark open{{if not .IsShowClosed}} hover{{end}}"><a href="{{.RepoLink}}/issues?type={{.ViewType}}">
                        <i class="octicon octicon-issue-opened"></i> {{.IssueStats.OpenCount}} Open
                    </a></span>
                    <span class="mark close{{if .IsShowClosed}} hover{{end}}"><a href="{{.RepoLink}}/issues?type={{.ViewType}}&state=closed">
                        <i class="octicon octicon-issue-closed"></i> {{.IssueStats.ClosedCount}} Closed
                    </a></span>
                </div>
                <ul id="issue-list-filter" class="right menu menu-line">
                    <li class="down drop label-filter">
                        <a href="#">Labels</a>
                        <div class="drop-down">
                            <h4>Labels</h4>
                            <ul class="labels list-no-style">
                            {{if .Labels}}
                            	{{range .Labels}}
                                <li><a href="?type={{$.ViewType}}&state={{$.State}}{{if not (eq $.SelectLabels .Id)}}&labels={{.Id}}{{end}}"><span class="color" style="background-color:{{.Color}}"></span><span class="name">{{.Name}}</span></a></li>
                                {{end}}
                            {{else}}
                                <li class="no-label"><strong>no label</strong></li>
                            {{end}}
                            </ul>
							<br/>
                        </div>
                    </li>
                    <li class="down drop milestone-filter">
                        <a href="#">Milestones</a>
                        <div class="drop-down">
                            <h4>Milestones</h4>
                            <ul class="milestones list-no-style">
                                <li class="no-label"><strong>no milestone</strong></li>
                                <li><a href="#">v1</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="down drop assignee-list">
                        <a href="#">Assignee</a>
                        <div class="drop-down">
                            aabbcc
                        </div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
			{{template "ng/base/alert" .}}
            <ul id="issue-list" class="list-no-style">
            	{{range .Issues}}{{if .Poster}}
                <li class="item{{if not .IsRead}} unread{{end}}" id="issue-{{.ID}}">
                    <a class="comment" href="{{$.RepoLink}}/issues/{{.Index}}#comments">
                        <i class="octicon octicon-comment"></i> {{.NumComments}}
                    </a>
                    <p class="title text-bold">
                        <span class="label label-black index-num">#{{.Index}}</span>
                        <a href="{{$.RepoLink}}/issues/{{.Index}}" class="title-text">{{.Name}}</a>
                        {{range .Labels}}
                        <span class="label issue-label" style="background-color: {{.Color}}">{{.Name}}</span>
                        {{end}}
                    </p>
                    <p class="desc">opened {{TimeSince .Created $.Lang}} by <a href="{{AppSubUrl}}/{{.Poster.Name}}">{{.Poster.Name}}</a></p>
                </li>
				{{end}}{{end}}
            </ul>
            <!--<div id="issue-list-pager" class="pager text-center">
                <a class="prev invalid" href="#">Prev</a>
                <a class="page" href="#">1</a>
                <a class="page hover" href="#">2</a>
                <a class="page" href="#">3</a>
                <a class="next" href="#">Next</a>
            </div>-->
        </div>
    </div>
</div>
{{template "ng/base/footer" .}}