{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
<div id="repo-wrapper">
    {{template "repo/header" .}}
    <div class="issue-main container repo-wide-wrapper">
        <ul id="issue-list-nav" class="menu menu-line">
            <li><a href="{{.RepoLink}}/issues">Issues</a></li>
            <li class="current"><a href="#">Pull Requests</a></li>
            <!--<li><a href="#">Labels</a></li>-->
            <li><a href="{{.RepoLink}}/issues/milestones">Milestones</a></li>
            <li class="right" id="issue-new"><a href="{{.RepoLink}}/compare"><button id="issue-new-btn" class="btn btn-green text-bold">New Pull Request</button></a></li>
            <!--<li class="right"><a href="#">Filter</a></li>-->
        </ul>
        <div id="issue-list-container">
            <div id="issue-list-menu">
                <div class="left">
                    <span class="mark open hover"><a href="#">
                        <i class="octicon octicon-git-pull-request"></i> {{.IssueStats.OpenCount}} Open
                    </a></span>
                    <span class="mark close"><a href="">
                        <i class="octicon octicon-issue-closed"></i> {{.IssueStats.ClosedCount}} Closed
                    </a></span>
                </div>
                <div class="clear"></div>
            </div>
            <ul id="pull-list" class="list-no-style">
                {{range .Issues}}
                <li class="item" id="pr-id">
                    <a class="comment" href="#">
                        <i class="octicon octicon-comment"></i> {{.NumComments}}
                    </a>
                    <p class="title text-bold">
                        <i class="octicon octicon-git-pull-request"></i>
                        <a href="{{$.RepoLink}}/pull/{{.ID}}" class="title-text">{{.Name}}</a>
                    </p>
                    <p class="desc">opened 7 days ago by <a href="#">{{.Poster.Name}}</a></p>
                </li>
                {{end}}
            </ul>
            <div id="issue-list-pager" class="pager text-center">
                <a class="prev invalid" href="#">Prev</a>
                {{range .Pages}}
                <a class="page" href="#">{{.}}</a>
                {{end}}
                <a class="next" href="#">Next</a>
            </div>
        </div>
    </div>
</div>
{{template "ng/base/footer" .}}